{% extends 'Main/base.html' %}

{% block title %}
    Room Category
{% endblock title %}

{% block page_title %}
 Settings | Room Category
{% endblock page_title %}


{% block content %}
{% if messages %}
    {% for message in messages %}
    {% endfor %}
{% endif %}
<div class="card">
  <div class="card-header justify-content-between">
      <div class="m-2"><a href="{% url 'add-room-category'  %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a></div>
      <form method="get">
      <div class="input-group w-auto">
              <input type="text" class="form-control " style="border-radius: 5px 0px 0px 5px;" placeholder="Search" aria-label="" name="filter" value="{{filter}}">
              <div class="input-group-append">
                  <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px; margin: 0;" type="submit"><i class="fas fa-search"></i></button>
              </div>
      </div>
      <b>Sort By:-</b>
          <a href="#" class="mx-2">ID</a> |
          <a href="#" class="mx-2">Name</a> |
          <a href="#"class="mx-2">Status</a>
  </form>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody><tr>
          <th>S.N</th>
          <th>Category Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        {% for object in roomcategory_list %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ object.category_name }}</td>
              <td>
                {% if object.is_active %}
                    <div class="badge" style="background-color: rgb(0, 167, 64); color: white;">Active</div>
                {% elif not object.is_active %}
                    <div class="badge" style="background-color: rgb(173, 47, 15); color: white;">In-Active</div>
                {% endif %} 
            </td>
            <td><a href="{% url 'update-room-category' object.id  %}" class="btn btn-primary">Edit</a><a class="btn btn-danger mx-2" href="{% url 'delete-room-category' object.id  %}"><i class="fas fa-trash"></i></a></td>
          </tr>
        {% endfor %}
      </tbody></table>
    </div>
  </div>
  <div class="card-footer text-right">
  <nav class="d-inline-block">
      <ul class="pagination mb-0">
      
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
      </li>
      {% endif %}
      
      
      {% for i in paginator.page_range %}
          <li class="page-item">
              <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
          </li>
      {% endfor %}
          
      
   
      {% if page_obj.has_next %}
      <li class="page-item">
          <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-right"></i></a>
      </li>
      {% endif %}
  </nav>
  </div>
</div>
{% endblock content %}
    