{% extends 'Main/base.html' %}

{% block title %}
    Purchase List
{% endblock title %}

{% block page_title %}
 Purchase | Purchase List
{% endblock page_title %}


{% block content %}
{% if message %}
<div class="alert alert-primary">
    {{ message}}
</div>
{% endif %}

<div class="card">
    <div class="card-header justify-content-between">
        <div class="m-2"><a href="{% url 'add-purchase'  %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a></div>
      <div class="card-header-form">
        <form method="POST">
            {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" style="border-radius: 5px 0px 0px 5px;" placeholder="Search" name="list-search">
            <div class="input-group-btn">
              <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px; margin: 0;" type="submit" ><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody><tr>
            <th>S.N</th>
            <th>Purchase No.</th>
            <th>Vendor</th>
            <th>Total Bill</th>
            <th>Purchase Date</th>
            <th>Actions</th>
          </tr>
          {% for object in objects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.invoice_no }}</td>
                <td>{{ object.vendor }}</td>
                <td>Rs. {{ object.total_bill }}</td>
                <td>{{ object.created_at }}</td>
                <td><a href="{% url 'view-purchase' object.id %}" class="btn btn-primary">View</a><a class="btn btn-danger mx-2" href="{% url 'delete-purchase' object.id %}"><i class="fas fa-trash"></i></a></td>
            </tr>
          {% endfor %}
        </tbody></table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}

{% endblock %}
    