{% extends 'Main/base.html' %}

{% block title %}
    Item Ledger
{% endblock title %}

{% block page_title %}
 Settings | Item Ledger
{% endblock page_title %}


{% block content %}
<div class="card">
    <div class="card-header">
        <form method="POST">
            {% csrf_token %}
          <label >Choose Item</label>
          <div class="row">
            <select class="form-control" name="purchase-item" style="width: 200px; border-radius: 5%;" required>
              {% for item in purchase_items %}
                  <option value="{{ item.id }}"> {{ item.name }}</option>
              {% endfor %}
          </select>
          <button class="btn btn-primary" style="border-radius: 0;" type="submit">Search</button>
          </div>
          <div class="invalid-feedback">
              This field is Necessary !!!
          </div>
        </form>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody><tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Purchase</th>
            <th>Issue</th>
            <th>Balance</th>
            <th>Date</th>
          </tr>
          {% for object in objects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ object.item_name }}</td>
            <td>{{ object.receive_quantity }}</td>
            <td>{{ object.issue_quantity }}</td>
            <td>{{ object.stock_quantity }}</td>
            <td>{{ object.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody></table>
      </div>
    </div>
  </div>
{% endblock content %}
    