{% extends 'Main/base.html' %}

{% block title %}
    Item Ledger
{% endblock title %}

{% block page_title %}
 Settings | Item Ledger
{% endblock page_title %}


{% block content %}
<div class="card">
    <div class="card-header justify-content-end">
      <div class="card-header-form">
        <form method="POST">
            {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" style="border-radius: 5px 0px 0px 5px;" placeholder="Search" name="list-search">
            <div class="input-group-btn">
              <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px; margin: 0;" type="submit" ><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody><tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Purchase</th>
            <th>Issue</th>
            <th>Balance</th>
          </tr>
          {% for object in objects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ object.item_name }}</td>
            <td>{{ object.receive_quantity }}</td>
            <td>{{ object.issue_quantity }}</td>
            <td>{{ object.stock_quantity }}</td>
          </tr>
          {% endfor %}
        </tbody></table>
      </div>
    </div>
  </div>
{% endblock content %}
    