{% load static %}

<div class="main-sidebar">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="#">PEDIDO</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="#">PEDIDO</a>
      </div>
      <ul class="sidebar-menu">
        <!-- Dashboard Section -->
        <li class="menu-header">Dashboard</li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'dashboard-view'  %}">General Dashboard</a></li>
          </ul>
        </li>

        <li class="menu-header">Front Desk</li>
        <!-- Add Purchase -->
            <li class="dropdown"><a class="nav-link has-dropdown" href="#"><i class="fas fa-user-tag"></i><span>Customer</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Customer List</a></li>
                <li><a class="nav-link" href="#">Customer Report</a></li>
              </ul>  
            </li>
            <li><a class="nav-link" href="#"><i class="fas fa-truck-loading"></i><span>Dining</span></a></li>
            <li><a class="nav-link" href="#"><i class="fas fa-dolly-flatbed"></i><span>Generate Bill</span></a></li>
            <li><a class="nav-link" href="#"><i class="fas fa-book"></i><span>Sales Report</span></a></li>

        <!-- Purchase Section -->
        <li class="menu-header">Inventory</li>
        <!-- Add Purchase -->
            <li class="dropdown"><a class="nav-link has-dropdown" href="#"><i class="fas fa-user-tag"></i><span>Vendor</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'list-vendor'  %}">Vendor Details</a></li>
                <li><a class="nav-link" href="#">Vendor Report</a></li>
              </ul>  
            </li>
            <li><a class="nav-link" href="{% url 'list-purchase'  %}"><i class="fas fa-truck-loading"></i><span>Purchase</span></a></li>
            <li><a class="nav-link" href="{% url 'list-issue'  %}"><i class="fas fa-dolly-flatbed"></i><span>Issue</span></a></li>
            <li><a class="nav-link" href="{% url 'view-stock'  %}"><i class="fas fa-book"></i><span>Item Legder</span></a></li>

        <!-- Purchase Section -->

        <!-- Settings Section -->
        <li class="menu-header">Settings</li>
        <!-- Categories Dropdown -->
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-sitemap"></i> <span>Categories</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'list-menu-category'  %}">Menu Category</a></li>
            <li><a class="nav-link" href="{% url 'list-purchase-category'  %}">Purchase Category</a></li>
            <li><a class="nav-link" href="#">Room Category</a></li>
            <li><a class="nav-link" href="#">Units</a></li>
          </ul>  
        </li>
        <!-- Items -->
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-shopping-basket"></i> <span>Item</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'list-menu-item'  %}">Menu Items</a></li>
            <li><a class="nav-link" href="{% url 'list-purchase-item'  %}">Purchase Items</a></li>
            <li><a class="nav-link" href="#">Rooms</a></li>
            
          </ul>  
        </li>
        <!-- Settings Section -->
      </ul>

      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="{% url 'logout-process' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
           Logout
        </a>
      </div>        
    </aside>
  </div>