{% extends 'Main/base.html' %}

{% block title %}
   Order 2
{% endblock title %}

{% block page_title %}
 Sales | Order 2
{% endblock page_title %}


{% block content %}

<div class="card">
    <div class="card-header">
        <div class="m-2"><a href="{% url 'list-generate-bill'  %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a></div>
    </div>
    <div class="card-body">
        <form action="#" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <h4>Customer: {{ bookingdetails.customer}}</h4> <h4>Room: {{ bookingdetails.room }}</h4>
            <hr>

            <!-- Purchase Items -->
            <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped table-md">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Rate</th>
                                <th>Total</th>
                                <th>Action</th>
                              </tr>
                        </thead>
                        <tbody>
                        {% for order_detail in order_details %}
                        <tr>
                            <td>
                                <select class="form-control" name="order-item[]" required>
                                    <option value="{{ order_detail.item.id }}" selected>{{ order_detail.item }}</option>
                                </select>
                                <div class="invalid-feedback">
                                    This field is Necessary !!!
                                </div>
                            </td>
                            <td>
                                <input type="number" value="{{ order_detail.qty }}" class="form-control" name="qty[]" style="width: 100px;" required>
                                <div class="invalid-feedback">
                                    This field is Necessary !!!
                                </div>
                            </td>
                            <td>
                                <select class="form-control" name="unit[]" style="width: 100px;" required>
                                        <option value="{{ order_detail.unit.id }}"> {{ order_detail.unit}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    This field is Necessary !!!
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="rate[]" style="width: 100px;" required>
                                <div class="invalid-feedback">
                                    This field is Necessary !!!
                                </div>
                            </td>
                            <td>
                                <input type="number" value="{{ order_detail.amt }}" class="form-control" name="total[]" style="width: 100px;" required>
                                <div class="invalid-feedback">
                                    This field is Necessary !!!
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" onclick="deleteRow(this)"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr> 

                        {% endfor %}
                        </tbody>
                        <tbody id="table_body">
                            <tr>
                                <td>
                                    <select class="form-control" name="new-order-item[]">
                                        {% for item in menuitems %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        This field is Necessary !!!
                                    </div>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="new-qty[]" style="width: 100px;" required>
                                    <div class="invalid-feedback">
                                        This field is Necessary !!!
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" name="new-unit[]" style="width: 100px;" required>
                                        {% for unit in units %}
                                            <option value="{{ unit.id }}"> {{ unit.unit_code }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        This field is Necessary !!!
                                    </div>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="new-rate[]" style="width: 100px;" required>
                                    <div class="invalid-feedback">
                                        This field is Necessary !!!
                                    </div>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="new-total[]" style="width: 100px;" required>
                                    <div class="invalid-feedback">
                                        This field is Necessary !!!
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="button" onclick="deleteRowNew(this)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                  </div>
                  <hr>
                    <div class="container row justify-content-between">
                        <div class="form-group">
                            <label>Grand Total: </label>
                            {% for order_master in order_masters %}
                            <input type="number" class="form-control" name="grand-total" value="{{ order_master.total_bill }}" required>
                            {% endfor %}
                            <div class="invalid-feedback">
                                This field is Necessary !!!
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary mb-2" type="button" onclick="addRow('table_body')"><i class="fas fa-plus"></i> Add Line</button>
                        </div>
                    </div>
                </div>
              </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}


    
{% block javascript %}
    <!-- Add and Remove Field Row -->
    function addRow(table_id){
        let table_body = document.getElementById(table_id),
            first_tr = table_body.firstElementChild
            tr_clone = first_tr.cloneNode(true);
        table_body.append(tr_clone);

    }

    function deleteRow(This){

        if(This.closest('tbody').childElementCount == 1){
            alert("You Don't Have Permission to Delete This !!!")
        }
        else{
            This.closest('tr').remove();
        }
    }
    function deleteRowNew(This){
            This.closest('tr').remove();
    }
    <!-- Add and Remove Field Row -->



{% endblock javascript %}
