{% extends 'Main/base.html' %}
 
{% block title %}
   Update Customer Details
{% endblock title %}

{% block page_title %}
 Inventory | Update Customer Details
{% endblock page_title %}


{% block content %}
<div class="card">
    <div class="card-header">
        <div class="m-2"><a href="{% url 'list-customer'  %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a></div>
    </div>
    <div class="card-body">
        <form action="#" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            {% for field in form %}     
                        <div class="form-group">
                            <label>{{field.label}}</label>
                            <input type="{{field.field.widget.input_type}}" name="{{field.name}}" id="{{field.name}}" class="form-control is-invalid" value="{{ field.value }}" style="border-color: rgb(175, 165, 211);">
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                This field is Required !!!
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %} 
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}